.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loader {
  display: block;
}

.loader-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.4rem solid var(--blue);
  border-top: 0.4rem solid transparent;
  animation: spin 1.5s linear infinite, changeColor 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes changeColor {
  0% {
    border-color: var(--blue);
  }

  25% {
    border-color: var(--green);
  }

  50% {
    border-color: var(--red);
  }

  75% {
    border-color: var(--orange);
  }

  100% {
    border-color: var(--blue);
  }
}

.loading-text {
  margin-left: 2rem;
  padding-top: 0.4rem;
  font-size: 1.4rem;
  color: var(--black);
}

